.DS_Store
BDDSim
SliQSim
*.o
*.a
*.so
*.la
*.lo
*.log
*.aux
*.toc
*.out
*.ilg
*.ind
*.fls
*.fdb_latexmk
*.synctex.gz
*.pyc
__pycache__/
.deps/
.libs/
autom4te.cache/
config.log
config.status
libtool
stamp-h1
final_BDD.png
